<h1>Inter Pollation</h1>
<!-- with normal var a  -->
<h2>{{company}}</h2>
<!-- with normal method  -->
<h2>{{getData()}}</h2>
<!-- with normal obj-->
<h2>{{obj.name}}</h2>
<h2>{{obj.age}}</h2>
<!-- with normal array-->
<!-- .length is also accepted -->
<h2>{{arr[0]}}</h2>
 <!-- addition with inter pollation-->
 <h2>{{10+20}}</h2>
 <h2>{{a+b}}</h2>
 <!-- assignment is not supported in interpollation -->
 <!-- <h2>{{a=10}}</h2> -->
 <!-- getting current url through location window -->
 <h2>{{siteUrl}}</h2>
 <!-- but it's not supported directly inside the html interpollation -->
 <!-- <h2>{{window.location.href;}}</h2> -->